SECRET_KEY=ваш_секретный_ключ

DEBUG=

 # имя вашей базы данных
NAME=
#  имя пользователя PostgreSQ
USER=
# пароль пользователя PostgreSQL
PASSWORD=
# адрес сервера базы данных
HOST=
# порт, на котором работает PostgreSQL, обычно 5432
PORT=