SECRET_KEY=ваш_секретный_ключ

DEBUG=

 # имя вашей базы данных
NAME=
#  имя пользователя PostgreSQ
USER=
# пароль пользователя PostgreSQL
PASSWORD=
# адрес сервера базы данных
HOST=
# порт, на котором работает PostgreSQL, обычно 5432
PORT=

# Секретный ключ из Stripe Dashboard
STRIPE_API_KEY=sk_test_ваш_ключ

# Публичный ключ из Stripe Dashboard
STRIPE_PUBLIC_KEY=pk_test_ваш_ключ

REDIS_URL=

TELEGRAM_BOT_TOKEN=ваш_реальный_токен