# Виртуальное окружение
venv/
.venv/
env/
.env

# База данных
*.sqlite3
*.db

# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы IDE
.idea/
.vscode/
*.iml

# Медиа и статика
/media/
/static/

# Файлы настроек с секретами
.env
config/settings_local.py

# Логи
*.log